/*aca estoy instertando uel estilo del menu de la w3/*
    /* Add a black background color to the top navigation */
    .topnav {
        position: relative;
        background-color: #333;
        overflow: hidden;
      }
      
     /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
      
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
      
    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
      
    /* Centered section inside the top navigation */
    .topnav-centered a {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
      
      /* Right-aligned section inside the top navigation */
    .topnav-right {
        float: right;
    }
      
    /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
    @media screen and (max-width: 600px) {
        .topnav a, .topnav-right {
            float: none;
            display: block;
        }
     
        .topnav-centered a {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }
    }

body{
    height: auto;
}

#cabecera {
        background-color:white;
        width: 100%;
        height: 100px;
}
#cabecera h1{
    color: black;
    text-align: center;   
}

#menu {
    width: 100%;
    height: 50px;
    background-color: #333
}
#menu #menu1 {
    width: 50%;
    height: 90%;
    margin-left:auto;
    margin-right: auto;
    display: block;
}
#cuerpo {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
#cuerpo #cuerpo1 {
    width:80%;
    height:auto;
    float:left;
    margin-left: auto;
    margin-right: auto;
    border-right:double;
    background-image:url(../Imagenes/sense.jpeg);
    background-size: 100%;
    background-repeat: repeat-y;
}
#cuerpo #cuerpo2 {
    width: 80%;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}
#cuerpo #cuerpo3 {
    width: 50%;
    height: 100%;
    background-color: rosybrown;
    float:left;
}
#cuerpo #cuerpo3 iframe{
    border:5px solid black;
    width:100%;
    height:100%;
}
#cuerpo2 #cuerpo4 {
    width: 50%;
    height: 100%;
    float:right;
}

#cuerpo4 p{
    border: double;
    background-color: white;
    margin-left: 15px;
    opacity: 0.8;
}

#cuerpo2 #cuerpo4 img{
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#cuepo4 p{
    text-align: center;
    margin-right:auto;
    margin-left: 16px;
    border:double;
    background-color: white;
    opacity: 0.5;
}

#cuerpo1 #cuerpo5{
    width: 80%;
    height: 400px;
    background-color: orange;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
}

#cuerpo5 #cuerpo51{
    height: 100%;
    width: 33%;
    background-color: black;
    float: left;
}

#cuerpo53 button{
    width: 75px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;

    background-color: #ddd;
    border: none;
    color: black;

    transition: 0.3s;
}


#cuerpo53 button:hover {
    background-color: #3e8e41;
    color: white;
  }

#cuerpo5 #cuerpo52{
    height: 100%;
    width: 34%;
    background-color: red;
    float: left;
}

#cuerpo52 img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#cuerpo5 #cuerpo53{
    height: 100%;
    width: 33%;
    background-color: black;
    float: left;
}

#cuerpo #cuerpo6{
    width: 80%;
    height: auto;
    opacity: 0.5px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border: double;
    background-color: white;
    opacity: 0.7;
}

#cuerpo6 p{
    text-align: center;
    font-size: 16px;
}

#barraLateral{
    width: 17%;
    height:100%;
    float:right;
}

#barraLateral section {
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    height: 40px;
    margin-top: 5px;
    display:block;
}